body{
    background-color: #151515;
    color: #EEE;
    font-family: monospace;
    font-weight: bold;
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
canvas {
    outline: solid white 1px;
}
#gui{
    font-size: 80px;
    position: absolute;
    top: 0px;
    left: 0px;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}